.DS_Store
node_modules/
.idea/
.vscode/
*.iml
frontend/dist/
frontend/.vite/
.claude
/docs/plan/agent/

/backend/.env.local
/backend/.env.dev
/backend/.env.prod
/infra/.env.local
/infra/.env.dev
/infra/.env.prod